* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.navbar {
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
}
.logo {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1.5rem;
}
.heading {
  color: #fff;
  font-size: 23px;
}
.main {
  margin-left: 9rem;
  margin-top: 4rem;
  display: grid;
  

}
.locationlogo {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card1 {
  display: grid;
  grid-template-rows: 20px 80px 30px 120px;
  grid-template-columns: 250px 530px;
  column-gap: 40px;
  row-gap: 10px;
align-items: flex-end;
margin-left: 15rem;

}
.countryimg {
  grid-row: 1 / 5;
  width: 100%;
  align-self: flex-start;
}
.countryname {
  font-size: 16px;
  margin-left: 0.3em;
  
}
.logo1 {
  height: 16px;
}
.link1 {
  margin-left: 10px;
}
.title1 {
  font-size: 45px;
  
 
}
.dates {
align-self: center;
}
.para {
  font-size: 20px;
}